header {
    display: flex;
    flex-direction: row;
    margin-bottom: -30px;
}

#dogsLeft {
    padding-right: 50px;
    height: 100px;
    margin-top: 25px;
}

#dogsRight {
    padding-left: 50px;
    height: 100px;
    margin-top: 25px;
}

h1 {
    font-family: 'Silkscreen', cursive;
    font-size: 70px;             
    text-align: center;  
    padding-top: 5px;
}

.info {
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
    display: flex;
    width: 2empx;
    height: 1500px;
}

html, body {
    height: 100%;
}

body {
    margin:  0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}